.vs
*.sln
*.csproj
*.csproj.meta
/Library
/Temp
/UnityPackageManager
/obj
/QCAR
/App/
/Apk/
/Application
/Logs
/UWP
/**/Assets/Dependencies
/**/Assets/Dependencies.meta
/**/MSbuild
/MSBuildForUnity.Common.props
/**/.editorconfig
/Builds/WSAPlayer
/**/Packages/packages-lock.json
/**/*.sln.DotSettings.user
/**/.idea
*.sfk
*.sfk.meta
/Assets/AddressableAssetsData/WindowsUniversal/
/Assets/AddressableAssetsData/WindowsUniversal.meta
/Assets/AddressableAssetsData/Android/
/Assets/AddressableAssetsData/Android.meta
Assets/VelicusEditorUserSettings/
Assets/VelicusEditorUserSettings.meta
/**/bin
/**/obj
.vsconfig